

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
   
</head>
<body>
       
    <%- include('../partials/nav') %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">
                <form method="post">
                    <div class="row mb-3">
                        <label for="sirket" class="col-sm-2 col-form-label">Şirketi Seçiniz</label>
                        <div class="col-sm-8">
                            <select name="sirket" id="sirket" class="form-select">
                                <%- include('./partials/airlines-category',airlines) %>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="origin" class="col-sm-2 col-form-label">Kalkış</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="origin" name="origin" value="Rize">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="destination" class="col-sm-2 col-form-label">İniş</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="destination" name="destination">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="flight_number" class="col-sm-2 col-form-label">Uçuş No</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="flight_number" name="flight_number">
                        </div>
                    </div>
                        <div class="col-sm-8 offset-sm-2">
                          <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>