<footer class="bg-warning text-center mb-0">
    <b><p style="color: beige; font-size: 22px;">&copy; Rize-Artvin Havalimanı Takip </p></b>
    <p style="color: beige; font-size: 18px;">Veri Tabanı Yönetim Sistemleri - <b>MUHAMMED ZEKİ YILMAZ</b> - 414698</p>
    <p style="color: beige; font-size: 16px;">Karadeniz Teknik Üniversitesi</p>
</footer>