<nav class="navbar navbar-dark bg-warning navbar-expand-lg">
    <div class="container">
        <a href="/users/index" class="navbar-brand">Rize-Artvin Havalimanı</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/admin/flight" class="nav-link">Uçuş Listesi</a>
            </li>
            <li class="nav-item">
                <a href="/admin/flight/create" class="nav-link">Uçuş Ekle</a>
            </li>
            <li class="nav-item">
                <a href="/admin/airlines" class="nav-link">Uçak Şirketleri</a>
            </li>
            <li class="nav-item">
                <a href="/admin/airlines/create" class="nav-link">Uçak Şirketleri Ekle</a>
            </li>
            <li class="nav-item">
                <a href="/admin/passenger" class="nav-link">Yolcu Listesi</a>
            </li>
            <li class="nav-item">
                <a href="/admin/passenger/create" class="nav-link">Yolcu Ekle</a>
            </li>
        </ul>
    </div>
</nav>