<!DOCTYPE html>
<html lang="en" style="height: 100vh;">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
        <div class="row mt-3">
            <div class="col-md-12">
                <img src="/static/images/rize.jpg" class="img-fluid" alt="">
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <h1 class="h3 mb-3">Genel Bilgiler</h1>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>​Bulunduğu Şehir</td>
                                <td>​Rize</td>
                            </tr>                            
                            <tr>
                                <td>Hizmete Giriş Yılı</td>
                                <td>2022</td>
                            </tr>                            
                            <tr>
                                <td>Havalimanı Statüsü </td>
                                <td>Sivil</td>
                            </tr>                            
                            <tr>
                                <td>​ICAO Kodu</td>
                                <td>​LTFO</td>
                            </tr>                            
                            <tr>
                                <td>​IATA</td>
                                <td>​RZV</td>
                            </tr>                            
                            <tr>
                                <td>Trafik Tipi</td>
                                <td>​İç Hat - Dış Hat</td>
                            </tr>                            
                            <tr>
                                <td>​Coğrafi Koordinatları</td>
                                <td>
                                    <a href="https://geohack.toolforge.org/geohack.php?pagename=tr:Rize-Artvin_Havaliman%C4%B1&params=41_10_32_N_40_50_42_E_">41°10′32″K 40°50′42″D​</a>
                                </td>
                            </tr>                            
                            <tr>
                                <td>​Terminal Binası Toplam Büyüklüğü</td>
                                <td>32.000m2</td>
                            </tr>                            
                            <tr>
                                <td>Toplam Kapalı Alan Büyüklüğü</td>
                                <td>​47.000m2</td>
                            </tr>                            
                            <tr>
                                <td>Peyzaj Alanı</td>
                                <td>​170.000m2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</body>
<%- include('../partials/footer') %>
</html>